{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Dyresenteret</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	</head>
	<body>
	<div class="header_bar">
		<div class="header_logo">
			<a>Dyresenteret</a>
		</div>
		<div class="header_menu">
			<ul id="navbar-links">
			<li> <a class="nav-button">MenuItem</a></li>
			<li> <a class="nav-button">MenuItem</a></li>
			<li> <a class="nav-button">MenuItem</a></li>
			<li> <a class="nav-button">MenuItem</a></li>
			<li> <a class="nav-button">MenuItem</a></li>
			<li> <a class="nav-button">MenuItem</a></li>
			</ul>
		</div>
	</div>
