{% include('nav.html') %}
<style>
.employee-img{
    max-height: 200px;
    border-radius: 50%;


}

</style>
<div class="page_container">
	<div class="page_header"></div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<h3>Om oss</h3>
			</div>
			<div class="box_content">
				<div class="row two fill-images">
					<div class="col">
						<p class="paragraph">I vår dyrebutikk finner man det meste man trenger til hund, katt, gnager, kanin, reptil og innen akvaristikk.</p>
						<p class="paragraph"> Vi har fått med oss Toril Dønheim som hundefrisør, og Harriet Havnegjerde som dyrekiropraktor.</p><p class="paragraph"> I tillegg til at vi er en vanlig dyrebutikk kan man da benytte seg av tjenester som klipp og pelsstell av hund eller få hunden behandlet hos vår dyktige dyrekiropraktor.</p>
					</div>
					<div class="col center">
						<img src="{{url_for('static', filename='about_main.jpg')}}" alt="placeholder">
						<p>Lorem ipsum dolor sit amet bla bla bla bla bla bla bla</p>
					</div>
				</div>
				<hr>
				<div class="row">
					<h3>Ansatte</h3>
				</div>
				<div class="row three small-images center">
					<div class="col">
                        <img class="employee-img" src="{{url_for('static', filename='kjell.jpg')}}" alt="Employee 1">
						<h3>Kjell Torvik</h3>
						<div class="employee-age">
							<p>60 år</p>
						</div>
						<div class="employee-info">
							<p>Lorem impsum dolor sit amet bla bla bla bla bla bla bla</p>
						</div>
					</div>
					<div class="col">
						<img class="employee-img" src="{{url_for('static', filename='tone.jpg')}}" alt="Employee 1">
						<h3>Tone M. Torvik</h3>
						<div class="employee-age">
							<p>50 år</p>
						</div>
						<div class="employee-info">
							<p>Lorem impsum dolor sit amet bla bla bla bla bla bla bla</p>
						</div>
					</div>
					<div class="col">
						<img class="employee-img" src="{{url_for('static', filename='ine.jpg')}}" alt="Employee 1">
						<h3>Ine Torvik</h3>
						<div class="employee-age">
							<p>27 år</p>
						</div>
						<div class="employee-info">
							<p>Lorem impsum dolor sit amet bla bla bla bla bla bla bla</p>
						</div>
					</div>
				</div>
                <hr>
				<div class="row two fill-images">
                    <h3> Samarbeidspartnere </h3>
					<div class="col">
						<p class="paragraph">I vår dyrebutikk finner man det meste man trenger til hund, katt, gnager, kanin, reptil og innen akvaristikk.</p>
						<p class="paragraph"> Vi har fått med oss Toril Dønheim som hundefrisør, og Harriet Havnegjerde som dyrekiropraktor.</p><p class="paragraph"> I tillegg til at vi er en vanlig dyrebutikk kan man da benytte seg av tjenester som klipp og pelsstell av hund eller få hunden behandlet hos vår dyktige dyrekiropraktor.</p>
					</div>
					<div class="col center">
						<img src="{{url_for('static', filename='about_main.jpg')}}" alt="placeholder">
						<p>Lorem ipsum dolor sit amet bla bla bla bla bla bla bla</p>
					</div>
				</div>
				<hr>
			</div>
		</div>
	    </div>
	</div>
{% include('footer.html') %}
