{% include('nav.html') %}
<div class="page_container">
    <div class="page_header"></div>
    <div class="full">
        <form name="leveringsskjema" action="" method="post">
            <div class="page_box big">
                <div class="box_header">
                    <h3>Leveringsinformasjon</h3>
                </div>
                <div class="box_content top-margin stepper">
                    <table class="product_table step_table">
                        <tr>
                            <th colspan="1">Ordreplassering</th>
                        </tr>
                        <tr>
                            <td><a href="#/" onclick="change_step(1)">Bekreftelse</a></td>
                        </tr>
                        <tr>
                            <td><a href="#/" onclick="change_step(2)">Kundeinformasjon</a></td>
                        </tr>
                        <tr>
                            <td><a href="#/" onclick="change_step(3)">Lever ordre</a></td>
                        </tr>
                    </table>
                </div>
                <div class="box_steps top-margin">
                    <div id="step_1">
                        <table class="product_table">
                            <tr>
                                <th>Bekreftelse</th>
                            </tr>
                            <th class="th-left-border" colspan="2">
                                <button type="button" class="flat_button" onclick="change_step(2)" id="goto2">Neste</button>
                            </th>
                        </table>
                    </div>
                    <div id="step_2">
                        <p><br></p>
                        <table class="product_table">
                            <tr>
                                <th colspan="2">Kundeinformasjon</th>
                            </tr>
                            <tr>
                                <th class="th-left-border"><label for="fornavn">Fornavn</label></th>
                                <td><input type="text" placeholder="Fornavn" name="fornavn" disabled> </td>
                            </tr>
                            <tr>
                                <th class="th-left-border"><label for="etternavn">Etternavn</label></th>
                                <td><input type="text" placeholder="Etternavn" name="etternavn" disabled> </td>
                            </tr>
                            <tr>
                                <th class="th-left-border"><label for="adresse">Adresse</label></th>
                                <td><input type="text" placeholder="Adresse" name="adresse" disabled> </td>
                            </tr>
                            <tr>
                                <th class="th-left-border"><label for="postnummer">Postnummer</label></th>
                                <td><input type="number" placeholder="Postnummer" name="postnummer" onblur="validate_postnummer_cart()" disabled>
                                <p id="invalid_postnummer_levering" class="nomargin_nopadding hide_paragraph"></p></td>

                            </tr>
                            <tr>
                                <th class="th-left-border"><label for="email">E-post-adresse</label></th>
                                <td><input type="text" placeholder="E-post-adresse" name="email" onblur="validate_email_cart()" disabled>
                                <p id="invalid_email_levering" class="nomargin_nopadding hide_paragraph"></p> </td>

                            <tr>
                                <th class="th-left-border"><label for="tlf">Telefonnummer</label></th>
                                <td><input type="number" placeholder="12345678" name="tlf" onblur="validate_tlf_cart()" disabled>
                                <p id="invalid_tlf_levering" class="nomargin_nopadding hide_paragraph"></p></td>
                            </tr>
                        </table>
                        <table class="product_table">
                            <th class="th-left-border" colspan="2">
                                <button type="button" class="flat_button" onclick="validate_cart()" id="goto3" disabled>Neste</button>
                            </th>
                        </table>
                    </div>
                    <div id="step_3">
                        <p><br></p>
                        <p>Ekstra forespørsler</p>
                        <table class="product_table">
                            <tr>
                                <th class="th-left-border"><label for="message">Forespørsel</label></th>
                                <td><textarea name="message" disabled> </textarea></td>
                            </tr>
                        </table>
                        <table class="product_table">
                            <th class="th-left-border" colspan="2">
                                <button type="submit" class="flat_button" name="submit" disabled>Lever ordre</button>
                            </th>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    // Tracks the current step
    var current_step = 1;
    var validated_info = 0;

    // Checks if user is trying to go to current step, if not change css of the other steps and jump to desired step
    function change_step(jump_to) {
        // Cart confirmation
        if(jump_to == 1) {
            if (current_step == 1)
                return;
            else {
                // disable 2 and 3, enable 1 and change current step
                change_opacity(2, 3, 1);
                current_step = 1;


                // disable/enable relevant buttons
                document.getElementById('goto2').disabled = false;
                document.getElementById('goto3').disabled = true;
                document.forms['leveringsskjema']['submit'].disabled = true;


                // disable/enable relevant input fields
                document.forms['leveringsskjema']['fornavn'].disabled = true;
                document.forms['leveringsskjema']['etternavn'].disabled = true;
                document.forms['leveringsskjema']['adresse'].disabled = true;
                document.forms['leveringsskjema']['postnummer'].disabled = true;
                document.forms['leveringsskjema']['email'].disabled = true;
                document.forms['leveringsskjema']['tlf'].disabled = true;
                document.forms['leveringsskjema']['message'].disabled = true;
            }
        }
        // Customer-information
        else if(jump_to == 2) {
            if (current_step == 2)
                return;
            else {
                // disable 1 and 3, enable 2 and change current step
                change_opacity(1, 3, 2);
                current_step = 2;

                // prevents user from jumping straight to "lever ordre" through step overview with invalid info
                // forces another info validation
                validated_info = 0;

                // disable/enable relevant buttons
                document.getElementById('goto2').disabled = true;
                document.getElementById('goto3').disabled = false;
                document.forms['leveringsskjema']['submit'].disabled = true;

                // disable/enable relevant input fields
                document.forms['leveringsskjema']['fornavn'].disabled = false;
                document.forms['leveringsskjema']['etternavn'].disabled = false;
                document.forms['leveringsskjema']['adresse'].disabled = false;
                document.forms['leveringsskjema']['postnummer'].disabled = false;
                document.forms['leveringsskjema']['email'].disabled = false;
                document.forms['leveringsskjema']['tlf'].disabled = false;
                document.forms['leveringsskjema']['message'].disabled = true;
            }
        }
        // Final confirmation and extra information - send order
        else {
            if (current_step == 3)
                return;
            else {
                // disable 1 and 2, enable 3 and change current step
                if(validated_info == 0){
                    alert("Send inn kundeinformasjon på nytt for å forhindre feil");
                    return;
                }
                change_opacity(1, 2, 3);
                current_step = 3;

                // disable/enable relevant buttons and change current step
                document.getElementById('goto2').disabled = true;
                document.getElementById('goto3').disabled = true;
                document.forms['leveringsskjema']['submit'].disabled = false;

                // disable/enable relevant input fields
                document.forms['leveringsskjema']['fornavn'].disabled = true;
                document.forms['leveringsskjema']['etternavn'].disabled = true;
                document.forms['leveringsskjema']['adresse'].disabled = true;
                document.forms['leveringsskjema']['postnummer'].disabled = true;
                document.forms['leveringsskjema']['email'].disabled = true;
                document.forms['leveringsskjema']['tlf'].disabled = true;
                document.forms['leveringsskjema']['message'].disabled = false;
            }
        }
    }

    // Change the css of the two other steps not "in action"
    function change_opacity(div1, div2, curr_div) {
        var div_name = "step_";

        // makes id of elements to be changed - step1&step2 will be disabled, current will be enabled
        var step1 = document.getElementById(div_name + div1.toString());
        var step2 = document.getElementById(div_name + div2.toString());
        var current = document.getElementById(div_name + curr_div.toString());

        // change css of divs
        step1.style.transition = "0.3s all";
        step2.style.transition = "0.3s all";
        current.style.transition = "0.3s all";

        step1.style.opacity = 0.2;
        step2.style.opacity = 0.2;
        current.style.opacity = 1;
    }
</script>
<script type="text/javascript" src="../static/formValidation.js"></script>
</body>
{% include('footer.html') %}
