{% include('nav.html') %}
	<div class="page_container">
        <h3 class="page_header"><p>bla bla</p></h3>
        <div class="full">
            <div class="page_box big">
                <div id="navbar">
                    <p>
                        <a href="/">Home</a> / <a href="/nettbutikk">Store</a> / <a href="/category">Category 1</a>
                    </p>
                </div>
				<h3 class="box_header">Product 1</h3>
                <div class="box_content top-margin">
                    <img src="{{url_for('static', filename='catprod.jpg')}}" alt="product 1">
                    <p>Size</p>
                    <form action="/product">
                        <input type="submit" value="Vis produkt">
                    </form>
                </div>
			</div>
		</div>
	</div>
{% include('footer.html') %}
