{% include('nav.html') %}
<div class="page_container">
	<div class="page_header"></div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<h3>Category</h3>
			</div>
			<div class="box_content">
				<div class="row two fill-images">
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="product 1">
					</div>
					<div class="col center">
						<p>Mat</p>
						<p>Size</p>
						<form action="/product">
							<input class="flat_button small" type="submit" value="Vis produkt">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include('footer.html') %}
