{% include('nav.html') %}
<div class="page_container">
	<div class="page_header"></div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<h3>Category</h3>
			</div>
			<div class="box_content">
				<div class="row three small-images center">
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="Category 1">
						<h3>Produktnavn</h3>
						<p>Størrelse</p>
						<a href="/product" class="flat_button small">Vis produkt</a>
					</div>
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="Category 1">
						<h3>Produktnavn</h3>
						<p>Størrelse</p>
						<a href="/product" class="flat_button small">Vis produkt</a>
					</div>
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="Category 1">
						<h3>Produktnavn</h3>
						<p>Størrelse</p>
						<a href="/product" class="flat_button small">Vis produkt</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include('footer.html') %}
