<footer>
	<div class="row three footer_content">
		<div class="col">
			<h3>Kontakt</h3>
			<ul>
				<li><a href="tel:+47 930 36 330">+47 930 36 330</a></li>
				<li><a>Lerstadvegen 539, 6018 Ålesund</a></li>
				<li><a href="mailto:post@dyresenteret.no">post@dyresenteret.no</a></li>
			</ul>
		</div>
		<div class="col">
			<h3>Sider</h3>
			<ul>
				<li><a href="/om">Om</a></li>
				<li><a href="/kunnskap">Kunnskapssenter</a></li>
				<li><a href="/nettbutikk">Nettbutikk</a></li>
			</ul>
		</div>
        <div class="col">
			<h3>Sosiale medier</h3>
			<ul>
				<li><a target="_blank" href=https://www.facebook.com/dyresenteret.aalesund/><img class="footer_icon" style="background-color:white;" src="../static/facebook-icon2.png"></a></li>
				<li><a target="_blanK" href=https://www.instagram.com/dyresenteret/><img class="footer_icon" src="../static/instagram_icon.svg"></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="footer_copyright">
			<p class="footer_copyright_text">© Dyresenteret 2017</p>
		</div>
	</div>
</footer>
