<footer>
<div class="footer_content">
   <div class="footer_map">
		<h3>Kart</h3>
		<img src="https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=15&size=150x100&key=AIzaSyAm3-d5CeMCEpRzcwvrEta2JE_3RQ8hUZo" alt="map">
    </div>
    <div class="footer_left">
        <h3>Kontakt</h3>
        <ul>
            <li><a href="tel:+47 930 36 330">+47 930 36 330</a></li>
            <li><a>Lerstadvegen 539, 6018 Ålesund</a></li>
            <li><a href="mailto:post@dyresenteret.no">post@dyresenteret.no</a></li>
        </ul>
    </div>
    <div class="footer_right">
        <h3>Sider</h3>
        <ul>
            <li><a href="/om">Om</a></li>
            <li><a href="/kunnskap">Kunnskapssenter</a></li>
            <li><a href="/nettbutikk">Nettbutikk</a></li>
        </ul>
    </div>
    <div class="footer_copyright">
        Dyresenteret 2017
    </div>
</div>
</footer>
