{% include('nav.html') %}
<div class="page_container">
	<div class="page_header">
		<div class="socialButtons">
		</div>
		
	</div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<p>Dyresenteret</p>
			</div>
			<div class="box_content">
				<div class="row two">
					<div class="col">
						<ul>
							<li>Dyrebutikk Ålesund</li>
							<li>Kontaktinformasjon</li>
							<li>Lokasjon</li>
						</ul>
					</div>
					<div class="col">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="page_box big">
			<div class="box_header">
				<p>Kom på besøk</p>
			</div>
			<div class="box_content">
				<div class="row three center">
					<div class="col">
						<h3><a href="/kunnskap">Kunnskapskatalog</a></h3>
						<p> LOREM IPSUM LOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM</p>
					</div>
					<div class="col">
						<h3><a href="/om">Om oss</a></h3>
						<p> LOREM IPSUM LOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM</p>
					</div>
					<div class="col">
						<h3><a href="/nettbutikk">Nettbuikk</a></h3>
						<p> LOREM IPSUM LOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUMLOREM IPSUM</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
   <script>
      function initMap() {
        var uluru = {lat: 62.471615, lng: 6.3610094};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVYS7BGR9CCT2dG8zubQR_FoYAO2Gt5I8&callback=initMap">
    </script>

{% include('footer.html') %}
