{% include('nav.html') %}
<div class="page_container">
	<div class="page_header">
		<div class="socialButtons">

		</div>
	</div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<p>Velkommen</p>
			</div>
			<div class="box_content top-margin">
				<p>I vår dyrebutikk finner man det meste man trenger til hund, katt, gnager, kanin, reptil og innen akvaristikk. Vi har fått med oss Toril Dønheim som hundefrisør, og Harriet Havnegjerde som dyrekiropraktor. I tillegg til at vi er en vanlig dyrebutikk kan man da benytte seg av tjenester som klipp og pelsstell av hund eller få hunden behandlet hos vår dyktige dyrekiropraktor.</p>
			</div>
		</div>
		<div class="page_box big">
			<div class="box_header">
				<p>Kom på besøk</p>
			</div>
			<div class="box_content top-margin">
				<p>Blablabla</p>
			</div>
		</div>
	</div>
</div>

{% include('footer.html') %}
