{% include('nav.html') %}
<div class="page-container">
	    <div class="page_header">
	    </div>
	    <div class="page_box big">
		    <div class="box_header">
			    <p>Kontakt Oss</p>
		    </div>
		    <div class="box_content">
		    <form class="kontaktskjema" action="" method="post">
			    <fieldset><input type="text" placeholder="Navn" required>
				    <br>
			    <input type="email" placeholder="Epost" required>
			    <br>
			    <textarea  placeholder="Beskjed" required></textarea>
			    <br>
			    <button type="submit">Send</button>
		    </form>
		    </div>

		    <div class="">
			    <div id="kart">Placeholder for kart - Må muligens bruke js</div>
			    <div id="">Plassering</div>
			    <div id="">Epost</div>
			    <div class="">Telefonnummer</div>
		    </div>
	    </div>
</div>
<div class="footer_content">
	<div class="footer_left">
		<h3>left footer</h3>
	</div>
	<div class="footer_right">
		<p>middle</p>
		<p>footer</p>
	</div>
	<div class="footer_copyright">
		© Dyresenteret 2017
	</div>
	<div>
