{% include('nav.html') %}

<div class="page_container">
	<div class="page_header"></div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<h3>Kontakt Oss</h3>
			</div>
			<div class="box_content">
				<div class="row two">
				    <div class="col">
					    <form action="" method="post">
						    <table class="product_table">
							    <tr><th colspan="2"><p>Ta kontakt med oss ved å fylle ut dette skjemaet.</p></th></tr>
							    <tr><th class="th-left-border"><label for="navn">Navn</label></th>
								    <td><input type="text" placeholder="Navn" name="navn" required> </td>
							    </tr>
							    <tr>
								    <th class="th-left-border"><label for="tlf">Telefonnummer</label></th>
								    <td><input type="text" placeholder="12345678" name="tlf" required> </td>
							    </tr>
							    <tr>
								    <th class="th-left-border"><label for="email">Epost-addresse</label></th>
								    <td><input type="text" placeholder="epost-addresse" name="email" required> </td>
							    </tr>
							    <tr>
								    <th class="th-left-border"><label for="message">Melding</label></th>
								    <td><textarea name="message" required> </textarea></td>
							    </tr>
							    <tr><th class="th-left-border">Send inn</th><td><input type="submit" /></td>
							    </tr>
						    </table>
					    </form>
				    </div>
				    <div class="col fill-images">
					    <img src="../static/map.jpg">
					    <ul>
						    <li>&#10143 Lerstadvegen 539, 6018 Ålesund</li>
						    <li>&#9993 <a href="mailto:post@dyresenteret.no">post@dyresenteret.no</a></li>
						    <li>&#9990 <a href="tel: +47 930 36 330">+47 930 36 330</a></li>
					    </ul>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include('footer.html') %}
