<head>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="header_bar">
		<div id="logo" class="header_logo">
			<a href="/">
			<img id="logo_img" src="{{url_for('static', filename='logo.png')}}" />
			</a>
		</div>
		<ul id="navbar" class="header_content">
			<li><a href="/kunnskap">Kunnskapskatalog</a></li>
			<li><a href="/om">Om Oss</a></li>
			<li><a href="/kontakt">Kontakt</a></li>
			<li><a href="/registrer">Registrer Bruker</a></li>
			<li><a href="/nettbutikk">Nettbutikk</a></li>

		</ul>
	</div>
