<head>
	<link rel="stylesheet" href="../static/style.css">
	<script src="../static/navigation.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
</head>
<body>
	<div class="header_bar">
		<div id="logo" class="header_logo">
		<a href="/">
				<img id="logo_img" src="{{url_for('static', filename='logo.png')}}" />
		</a>
		</div>
		<div id="navbar" class="header_content">
			<div class="nav-dropdown">
				<a id="cart-icon" href="/cart"><img class="nav-icon" src="../static/shop-icon.png"></a>
					<ul class="navbar-resources cart-items">
						<li>
							<img src="../static/product2.jpg">
							<a href="/product">Item</a>
						</li>
						<li><img src="../static/product2.jpg"><a href="/product">Item</a></li>
						<li><img src="../static/product2.jpg"><a href="/product">Item</a></li>
					</ul>
			</div>
			<a href="#/" class="icon" id="toggleNav">&#9776;</a>
			<div class="nav-dropdown">
				<a href="#/">Ressurser</a>
				<ul class="navbar-resources">
					<li><a href="/bruker/registrer">Registrer Bruker</a></li>
					<li><a href="/kunnskap">Kunnskapskatalog</a></li>
				</ul>
			</div>
			<a href="/om">Om Oss</a>
			<a href="/kontakt">Kontakt</a>
			<a href="/nettbutikk">Nettbutikk</a>
		</div>
		<ul id="navbar-dropdown" class="navbar-collapse navbar-hide">
			<a href="/kunnskap">Kunnskapskatalog</a>
			<a href="/om">Om Oss</a>
			<a href="/kontakt">Kontakt</a>
			<a href="/bruker/registrer">Registrer Bruker</a>
			<a href="/nettbutikk">Nettbutikk</a>
			<a href="/cart">Handlevogn</a>
		</ul>
	</div>
