<head>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="header_bar">
		<div id="logo" class="header_logo">
		<a href="/">
				<img id="logo_img" src="{{url_for('static', filename='logo.png')}}" />
		</a>
		</div>
		<ul id="navbar" class="header_content">
			<li class="icon" id="toggleNav"><a href="#">&#9776;</a></li>
			<li><a href="/kunnskap">Kunnskapskatalog</a></li>
			<li><a href="/om">Om Oss</a></li>
			<li><a href="/kontakt">Kontakt</a></li>
			<li><a href="/bruker/registrer">Registrer Bruker</a></li>
			<li><a href="/nettbutikk">Nettbutikk</a></li>
		</ul>
		<ul id="navbar-dropdown" class="navbar-collapse navbar-hide">
			<li><a href="/kunnskap">Kunnskapskatalog</a></li>
			<li><a href="/om">Om Oss</a></li>
			<li><a href="/kontakt">Kontakt</a></li>
			<li><a href="/bruker/registrer">Registrer Bruker</a></li>
			<li><a href="/nettbutikk">Nettbutikk</a></li>
		</ul>
	</div>
	<script>

window.onload = function() {
	var button = document.getElementById("toggleNav");
	var navbar = document.getElementById("navbar-dropdown");
	var opened = false;

	button.addEventListener('click', function() {
		if(opened == true) {
			navbar.className = "navbar-collapse";
			button.className = "icon icon-open";
			opened = false;
		} else {
			navbar.className = "navbar-collapse navbar-hide";
			button.className = "icon icon-close";
			opened = true;
		};
	});
}

	</script>

