{% include('nav.html') %}
<div class="page_container">
	<div class="page_header"></div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<p>Registrering</p>
			</div>
			<div class="box_content top-margin">
                <ul>
					<li>Her kan du registrere informasjon om deg som kunde slik at vi kan lagre det lokalt i butikken.</li>
				</ul>
                <br>
                <form name="registreringsskjema" action="" method="post">
                    <table class="product_table registreringsskjema">
                        <tr>
                            <th colspan="3">Kundeinformasjon - alle felter må fylles ut</th>
                        </tr>
                        <tr>
                            <th class="th-left-border"><label for="navn">Fullt navn</label></th>
                            <td><label for="fornavn"><p class="nomargin_nopadding">Fornavn</p></label><input type="text" name="fornavn" required> </td>
                            <td><label for="etternavn"><p class="nomargin_nopadding">Etternavn</p></label><input type="text" name="etternavn" required> </td>
                        </tr>
                        <tr>
                            <th class="th-left-border"><label for="kontakt">Kontakt</label></th>
                            <td><label for="email"><p class="nomargin_nopadding" id="email_register">Email</p></label>
                                <input type="text" name="email" onblur="validate_email_register()" required></td>
                            <td><label for="tlf"><p class="nomargin_nopadding" id="tlf_register">Tlf</p></label><input type="number" name="tlf" onblur="validate_tlf_register()" required> </td>
                        </tr>
                        <tr>
                            <th class="th-left-border"><label for="navn">Adresse</label></th>
                            <td><label for="adresse"><p class="nomargin_nopadding">Adresse</p></label><input type="text" name="adresse" required> </td>
                            <td><label for="postnummer"><p class="nomargin_nopadding" id="postnummer_register">Postnummer</p></label><input type="number" name="postnummer" onblur="validate_postnummer_register()" required> </td>
                        </tr>
                        <th class="th-left-border" colspan="3">
                            <button type="button" class="flat_button" onclick="submit_register()">Registrer</button>
                        </th>
                    </table>
                </form>
            </div>
		</div>
	</div>
</div>
<script>
    var registrer_valid = [0, 0, 0];
    var kontakt_valid = [0, 0];

    /* Checks validity of email parameter */
    function validate_email(email){
        var ret = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return ret.test(email);
    }

    /* Checks if email, tlf or postnummer is still invalid when trying to submit */
    function submit_register(){
        var error = "Ugyldige felter: ";
        var stop = 0;

        // Check array for invalid inputs
        if(registrer_valid[0] == 0){
            error += "Email, ";
            stop = 1;
        }
        if (registrer_valid[1] == 0){
            error += "Tlf, ";
            stop = 1;
        }
        if (registrer_valid[2] == 0){
            error += "Postnummer, ";
            stop = 1;
        }

        // if any of the three checked input fields in invalid, stop the form submission
        if (stop == 1){
            alert(error);
        }
        else{
            document.forms['registreringsskjema'].submit();
        }
    }

    /* Checks validity of email input and displays error message if not valid*/
    function validate_email_register(){
        var form = document.forms['registreringsskjema'];
        var email_address = form['email'].value;
        var feilmelding = document.getElementById('email_register');
        var temp_tekst = "Email";

        if(validate_email(email_address) == false){
            // Appends error message to email label tag
            feilmelding.innerHTML = temp_tekst + '<span style=\"color:red; font-size:12px\"> ugyldig adresse</span>';
            // sets valid-email to false
            registrer_valid[0] = 0;
            setTimeout(function(){feilmelding.innerHTML = temp_tekst},2000);
        }
        else{
            // sets valid-email to true
            registrer_valid[0] = 1;
        }
    }

    /* Checks validity of tlf input and displays error message if not valid*/
    function validate_tlf_register(){
        var form = document.forms['registreringsskjema'];
        var tlf = form['tlf'].value;
        var feilmelding = document.getElementById('tlf_register');
        var temp_tekst = "Tlf";

        if(tlf.toString().length != 8){
            // Appends error message to tlf label tag
            feilmelding.innerHTML = temp_tekst + '<span style=\"color:red; font-size:12px\"> ugyldig nr</span>';
            // sets valid-tlf to false
            registrer_valid[1] = 0;
            setTimeout(function(){feilmelding.innerHTML = temp_tekst},2000);
        }
        else{
            // sets valid-tlf to true
            registrer_valid[1] = 1;
        }
    }

    /* Checks validity of postnummer input and displays error message if not valid*/
    function validate_postnummer_register(){
        var form = document.forms['registreringsskjema'];
        var tlf = form['postnummer'].value;
        var feilmelding = document.getElementById('postnummer_register');
        // sets valid-postnummer to false every
        var temp_tekst = "Postnummer";

        if(tlf.toString().length != 4){
            // Appends error message to postnummer label tag
            feilmelding.innerHTML = temp_tekst + '<span style=\"color:red; font-size:12px\"> ugyldig postnr</span>';
            // sets valid-tlf to false
            registrer_valid[2] = 0;
            setTimeout(function(){feilmelding.innerHTML = temp_tekst},2000);
        }
        else{
            // sets valid-postnummer to true
            registrer_valid[2] = 1;
        }
    }


</script>
{% include('footer.html') %}