{% include('nav.html') %}
<div class="page_container">
	<div class="page_header"></div>
	<div class="full">
		<div class="page_box big">
			<div class="box_header">
				<p>Nettbutikk</p>
			</div>
			<div class="box_content">
				<div class="row three small-images center">
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="Category 1">
						<h3>Category Name</h3>
						<a href="/category/1" class="flat_button small">Vis kategori</a>
					</div>
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="Category 1">
						<h3>Category Name</h3>
						<a href="/category/2" class="flat_button small">Vis kategori</a>
					</div>
					<div class="col">
						<img src="{{url_for('static', filename='catprod.jpg')}}" alt="Category 1">
						<h3>Category Name</h3>
						<a href="/category/3" class="flat_button small">Vis kategori</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include('footer.html') %}

